<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.hello_plugin"
        version="0.0.1">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/testPlugin.js" target="js/testPlugin.js"/>

  <js-module src="www/testPlugin.js" name="testPlugin">
    <clobbers target="testPlugin" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TestPlugin">
        <param name="android-package" value="com.example.hello.TestPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/TestPlugin.java" target-dir="src/com/example/hello/"/>
  </platform>

</plugin>